<html>
    <head>
      <link rel="stylesheet" href="{{ url_for('static',filename='styles.css')}}">
      </head>
  
      <body>
      <div class="pane"> 
      <h1>New Menu Item</h1>
      
      <form action="{{ url_for('newMenuItem', restaurant_id=restaurant_id)}}" method = 'post'>
      
      <p>Name:</p>
        <input type='text' size='30' name='name'>
      
      <p>Description:</p>
        <input type='text' size='30' name='description'>
      
      <p>Price:</p>
        <input type='text' size='30' name='price'>
      
      <p>Course:</p>
        <input type="radio" name="course" value="appetizer"> <a>Appetizer</a><br>
        <input type="radio" name="course" value="entree"> <a>Entree</a><br>
        <input type="radio" name="course" value="dessert"> <a>Dessert</a><br>
        <input type="radio" name="course" value="beverage"> <a>Beverage</a><br>
        

      <p><input type='submit' value='Create'></p> 
      <p><a href = "{{ url_for('showMenu', restaurant_id=restaurant_id)}}" >Cancel</a></p>
      
      </form>
      
    </div>
  
      </body>
      
  </html>